numpy >= 1.20.2
scipy >= 1.6.0
absl-py >= 0.12.0
gym == 0.23.1
mujoco_py == 2.1.2.14
gdown >= 3.12.2
tqdm >= 4.60.0
flax == 0.6.11
jax[cuda11_pip] == 0.4.13
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jaxlib == 0.4.13
ml_collections >= 0.1.0
optax >= 0.0.6
tensorboardX == 2.1
tensorflow-probability >= 0.14.1
imageio >= 2.9.0
imageio-ffmpeg >= 0.4.3
d4rl @ git+https://github.com/rail-berkeley/d4rl@master#egg=d4rl
Cython<3
wandb